{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>delete Laptop</title>
{% endblock %}

{% block content %}
    <h1 style="text-align:center:">Delete laptop</h1>
    <div class="container">
        <p>
            are you delete this laptop with title -{{object.company}}
        </p>
        <form method="POST" class="jumbotron">
            {% csrf_token %}
            {{form | crispy}}
            <a href="{% url 'delete_laptop' object.id %}"><button class="btn btn-danger">Delete</button></a>
            <br>
            <br>
            <a href="{% url 'list_laptop' %}"><button class="btn btn-success">cancel</button></a>

        </form>
    </div>
{% endblock %}